<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563135105543-cbc3eio9httf7u3c5oiftf739vad9npm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563135105543-cbc3eio9httf7u3c5oiftf739vad9npm</string>
	<key>API_KEY</key>
	<string>AIzaSyBbZzSt_vI6RLyyeKfgTarSYm1SHveTPOM</string>
	<key>GCM_SENDER_ID</key>
	<string>563135105543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuteweb.egasdelivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-egas</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-egas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563135105543:ios:e3bad581295a0f199438a2</string>
</dict>
</plist>